#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#

*.o
Makefile
demoGui
moc_*
.qmake.stash
Makefile.Release
Makefile.Debug
*.bat
release/
debug/