#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.vscode/
*.o
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
dc-daemon
dcDaemon_adaptor.h
